
.bg-image {
    background: url('../../assests/image/img.png') repeat;
    background-position: center;
    background-size: cover;
   height: 100vh;
    .card-login {
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
        width: 600px;
        border-radius: 30px !important;
        .form-login {
            margin-top: 60px;
            .form-outline {
                width: 80%;
                margin: 0 auto;
            }
            .login-options {
                margin-top: 70px;
                p {
                    margin: 5px;
                    padding: 0;
                    a {
                        text-decoration: none;
                    }
                }
            }
            p {
                color: red;
            }
            button {
                padding: 10px 40px;
                color: white !important;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    
}
.card-login::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.button-submit {
    position: relative;
    .loader {
        // display: block;
        position: absolute;
        border: 5px solid #80808054;
        border-radius: 50%;
        border-top: 5px solid #555;
        width: 30px;
        height: 30px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }