.chatting {
    background-color:  #f4c7e285;
    height: 100vh;
    .task-bar {
        border-right: 2px solid black;
        position: relative;
        svg {
            font-size: 60px;
            &.home {
                position: absolute;
                top: 10px;
                left: 35px;
            }
            &.setting {
                position: absolute;
                bottom: 10px;
                left: 35px;
            }
        }
    }
    .user-list {
        border-right: 2px solid red;
        height: 100vh;
        .chat-title {
            opacity: 0.6;
            padding: 20px 5px 10px 5px;
        }
        .search-bar {
            margin-bottom: 15px;
            input {
                border: none;
                outline: none;
                width: 100%;
                padding: 7px 15px;
                border-radius: 10px;
            }
        }
        .users-active {
            margin: 20px 10px;
            .swiper-slide {
                width: 60px;
                height: 60px;
                 .users-active-item {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: white;
                    text-align: center;
                    font-weight: bold;
                    font-size: 30px;
                    padding: 10px;
                }}
        }
        .chatted-user {
            padding: 10px 20px;
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
             overflow-y: scroll; 
             height: 70vh;
             &::-webkit-scrollbar {
                display: none; /* for Chrome, Safari, and Opera */
            }
          .item {
            margin: 10px;
            .avatar {
                display: inline-block;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background-color: white;
                text-align: center;
                font-weight: bold;
                font-size: 30px;
                padding: 10px;
            }
            .info {
                
            }
          }
        }
    }
    .chat {
        padding: 20px;
        height: 100vh;
       .chat-top {
        border-bottom: white solid 2px;
        height: 10%;
        .user {
            .avatar {
                    float: left;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    background-color: white;
                    text-align: center;
                    font-weight: bold;
                    font-size: 30px;
                    padding: 10px;
                    margin-right: 20px;
            }
        }
        .call-action {
            font-size: 25px;
            text-align: right;
            padding-right: 25px;
            svg {
                margin: 0 10px;
            }
        }
       }
       .chat-middle {
        padding: 20px 20px 10px 20px;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
         overflow-y: scroll; 
         height: 75vh;
         &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
        p {
            border-radius: 10px;
            display: inline-block;
            padding: 7px 12px;
            max-width: 80%;
            color: white;
        }
        .other {
            p {
                background-color:blueviolet;
            }
        }
        .me {
            text-align: right;
            p {
                text-align: left;
                background-color: #328AFC;
            }
        }
       }
       .chat-bottom {
        padding: 25px 0;
         svg {
            font-size: 30px;
            margin: 0 10px;
         }
         input {
            width: 83%;
            border: none;
            outline: none;
            border-radius: 10px;
            padding: 7px 15px;
         }
       }
    }
}